.git
.gitignore
.env
*.env
*.tfstate
*.tfstate.*
*.tfvars
**/.terraform/
*.db
*.sqlite*
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

src/api/.env
src/api/.venv/
src/api/.cache/
src/api/tests/

test/
plan/
infra/
deploy/
